# See https://fly.io/docs/app-guides/continuous-deployment-with-github-actions/

name: Fly Deploy
on:
  push:
    branches:
      - main
    paths:
      - 'api/**'
      - 'src/**'
      - 'include/**'
      - 'Dockerfile'
      - 'fly.toml'
      - '.github/workflows/fly-deploy.yml'
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    concurrency: deploy-group    # optional: ensure only one action runs at a time
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Fly.io CLI
        uses: superfly/flyctl-actions/setup-flyctl@master
      
      - name: Deploy to Fly.io
        run: flyctl deploy --remote-only --app assembly-line-simulator
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
